/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.profile-image{
    float:left;
    width:calc(33.33%-1rem);
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 3rem;
}
.profile-image img{
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio{
    float:left;
    width:calc(66.666% - 2rem);
} 

.profile-user-settings{
    margin-top: 1.1rem;
}

.profile-user-name{
    display:inline-block;
    font-size:3.2rem;
    font-weight: 300;
}

.btn-profile-edit-btn{
   font-size: 1.4rem;
   line-height: 1.8;
   border: 0.1rem solid #dbdbdb;
   border-radius:0.3rem;
   padding: 0 2.4rem;
   margin-left: 2rem;
   box-shadow: #262626; 
}

.btn-profile-settings-btn{
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats{
    margin-top: 2.3rem;
}

.profile-stats li{
    display:inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li{
    margin-right: 0;
}

